#heading{
	font-family: "Arial Black", Gadget, sans-serif;
	color: blue;
	font-size: 28px;
	padding-left: 10px;
	float: left;
}

#subheading{
	font-family: "Arial Black", Gadget, sans-serif;
	color: #CCC;
	font-size: 20px;
}

#copyright{
	font-family: "Arial Black", Gadget, sans-serif;
	color: #CCC;
	font-size: 10px;
}

#contact{
	font-family: "Arial Black", Gadget, sans-serif;
	color: #CCC;
	font-size: 10px;
	float: right;
}

#login_buttons{
	font-family: "Arial Black", Gadget, sans-serif;
	padding-top: 75px;
	color: #CCC;
	font-size: 20px;
	float: right;
}

body {
	margin: 0px 0px 0px 0px;*
	padding: 0px 0px 0px 0px;
	font-family: verdana, arial, helvetica, sans-serif;
	color: #CCCCCC;
	background-image: url("../images/bg1.jpg");
}
a {
	text-decoration: none;
	font-weight: bold;
	color:  #CCCCCC;
	outline: none;
	cursor: pointer;
}
a:hover {
	color: #A3A3A3;
	text-decoration: underline;
}

p {
	font-size: 12px;
	line-height: 22px;
	margin-top: 20px;
	margin-bottom: 10px; 
}

h1 {
	font-size: 24px;
	line-height: 44px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
}
h2 {
	font-size: 18px;
	line-height: 40px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
}
h3 {
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
}
h4 {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
}
h5 {
	font-size: 12px;
	line-height: 22px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
}
h6 {
	font-size: 10px;
	line-height: 18px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
}
img {
	border: 0;
}
.nowrap {
	white-space: nowrap;
	font-size: 10px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
}
.tiny {
	font-size: 9px;
	line-height: 16px;
	margin-top: 15px;
	margin-bottom: 5px; 
}	
#header {
	padding: 0px;
	background: #004C70;
	max-width:1140px;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	color: white;
	min-width:900px;
}
#headerbar {
	background: #004C70;
}
.headertable{
	position:relative;
	float:right;
	margin-top:5px;
}
#logo {
	height:100%;
	float:left;
}

#searchDiv {
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	background: #ADD8E6;
	text-align: center;
	/* overflow: auto; */
	background-image: url("../images/mapBG.jpg");
	background-repeat:repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#suburbText{
	padding-left:10px;	
	margin-bottom: 5px;
}
.searchButton{
	
	border:2px solid #456879;
	border-radius:10px;
}
#refineSearchDive{
	border:none;
}
.searchbox{
	z-index: 1;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:10px;
	background: #ADD8E6;
	background-color:rgba(0, 0, 0, 0.4);
	text-align: center;
	height:auto;
	border-radius: 25px;
	overflow: hidden;
	transition: height 400ms ease;
}
.refineSearchDiv{
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:0px;
	background: #ADD8E6;
	background-color:rgba(0, 0, 0, 0.2);
	text-align: center;
	overflow: hidden;
	height:0px;
	transition: height 400ms ease;
	border-radius: 25px;
}
#refine{
	display:none;
}
#refine:checked ~ .refineSearchDiv {
    height:100px;
}

label .arrow-dn { display: inline-block; }
label .arrow-up { display: none; }
#refine:checked ~ label .arrow-dn { display: none; }
#refine:checked ~ label .arrow-up { display: inline-block; }

.popover {
	position:absolute;
	z-index: 1000;
	display: none;
	height: 60px;
	width: 300px;
	background: #ADD8E6;
	background-color:rgba(0, 0, 0, 0.7);
	transition: height 400ms ease;
	border-radius: 25px;
}

.menuButton {
width: 130px;
padding: 10px;
margin-right:10px;
border: 2px solid white;
color:white; 
text-align:center;
font: bold 16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
border-radius: 5px;
}
.signinButton { 
display: block;
width: 80px;
color:white; 
text-align:center;
font: bold 20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.signupButton { 
display: block;
white-space: nowrap;
/* width: 80px; */
padding-top: 25px;
padding-bottom: 25px; 
padding-left: 5px;
padding-right: 5px; 
border: 2px solid white;
color:white; 
text-align:center;
font: bold 20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
border-radius: 12px;
}

#browseimg {
max-height:200px;
max-width:200px;
}
#bigIMG {
max-height:800px;
max-width:800px;
}

#middle {
max-width: 1140px;
margin-left: auto;
margin-right: auto;
min-height: 200px;
background: #004C70;
padding: 20px;
color: white;
}

#DaveDP {
height: 60%; 
width: auto; 
float: left;
}

#wrapper {
margin-left: auto;
margin-right: auto;
min-width: 920px;
}


#footer {
max-width: 1140px;
margin-left: auto;
margin-right: auto;
padding: 20px;
color: #EEEEEE;
min-height: 60px;
background: #3D3D3D;
overflow: auto;
}
#footer a {
color: #EEEEEE;
}

#footer tr {
color: #FFFFFF;
background:#3D3D3D;
}
.social {
font-size: 200%;
}
.social a{
text-decoration: none;
}

#footer.content{
max-width: 1400px;
/* margin-left: auto;
margin-right: auto; */
display: flex;
justify-content: space-between;
}

textarea {
resize: none;
}

#footer div{
float: left;
margin-left: auto;
margin-right: auto;
}

tr:nth-child(odd) {
color: #FFFFFF;
background: #004C70;
}

tr td a{
color: #FFFFFF;
}

tr:nth-child(even) {
background: #969696;
color: #FFFFFF;
}

.bubble 
{
font-family: "Arial Black", Gadget, sans-serif;  
font-size: 20px; 
position: relative;
width: 700px;
height: 200px;
padding: 10px;
background: #6E6E6E;
-webkit-border-radius: 21px;
-moz-border-radius: 21px;
border-radius: 21px;
border: #FAFAFA solid 5px;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 10px 21px 10px 0;
border-color: transparent #6E6E6E;
display: block;
width: 0;
z-index: 1;
left: -21px;
top: 35px;
}

.bubble:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 14px 25px 14px 0;
border-color: transparent #FAFAFA;
display: block;
width: 0;
z-index: 0;
left: -30px;
top: 31px;
}

#ceotable tr:nth-child(4n+0){
background: #004C70;
}
#ceotable tr:nth-child(4n+1){
background: #004C70;
}
#ceotable tr:nth-child(4n+2){
background: #969696;
}
#ceotable tr:nth-child(4n+3){
background: #969696;
}

.propEditImgContainer {
/* height:1px;
width:1px;
overflow:auto; */
float:left;
position: relative;
}
.propEditImg{
max-height:200px;
max-width:200px;
}
.propEditImgHover{
text-align:center;
margin:auto;
float: left;
position: absolute;
left: 0px;
top: 0px;
width:100%;
height:100%;
z-index: 1000;
background:#000000;
opacity:0.0;
}
.propEditImgHover:hover{
opacity:0.7;
}

